<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/babbage.css" type="text/css" media="all">
</head>

<body>
    <h1> Charles Babbage </h1>
    <h3> matematico </h3>
    <h4> Charles Babbage fue un matemático y científico de la computación británico.​ Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. </h4>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlhMKx-Rh0p6h1HQ9OKs6ccy2WhUaVynLGP56uziWoEksleIQbzrs-c4KXMJu1HkZiXFE&usqp=CAU" alt="">
</body>
</html>