<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/hamilton.css" type="text/css" media="all">
</head>
<body>
    <h1> William Rowan Hamilton </h1>
    <h3> matemático </h3>
    <h4> William Rowan Hamilton fue un matemático, físico, y astrónomo irlandés, ​ que hizo importantes contribuciones al desarrollo de la óptica, la dinámica, y el álgebra. Su descubrimiento del cuaternión, junto con su sistematización de la dinámica, son sus trabajos más conocidos. </h4>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/15/William_Rowan_Hamilton_painting.jpg" alt="">
</body>
</html>