<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/lovelace.css" type="text/css" media="all">
</head>
<body>
    <h1> Ada Lovelace </h1>
    <h3> Matemática</h3>
    <h4> Augusta Ada King, condesa de Lovelace, registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la computadora mecánica de uso general de Charles Babbage, la denominada máquina analítica. </h4>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgi77xyYSMMrymWlIgZtLMtSpK5MMyAHFwCBP_CQQg7e3zMhrKD19BDnWa3HuH4b_jSZo&usqp=CAU" alt="">
</body>
</html>